.appContainer {
  background-image: url("/home/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 980px) {
  .appContainer {
    background-image: url("/home/tablet/image-hero.jpg");
    background-size: contain;
    height: 88vh;
  }
}

@media (max-width: 1024px) {
  .appContainer {
    background-image: url("/home/tablet/image-hero.jpg");
    height: 81vh;
    background-position: center;
    width: 100%;
    background-size: cover;
  }
}
