.custom-skeleton {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.typing-animation-text {
  color: #ffffff;
  font-size: 1.25rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #d87d4a;

  width: 46ch;

  animation:
    typing 2.8s steps(46, end) forwards,
    blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
